*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}

.logo img{
height: 39px;
margin-left: 100px;

}
.nav-bar {
    display: flex;
    background-color: #fff;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    /* width: 145px; */

}

.nav-bar ul li {
    display: inline-block;
    font-family: 'Poppins';
    font-weight: 600;
    padding: 10px 15px;
    color: #767676;
}.nav-1{
    margin-left: 250px;
    margin-right: 100px;
}
/* .nav-2 {
    
} */
.nav .eur {
    border-radius: 20px;
}
.active , .nav-bar ul li:hover{
    /* width: 49px;
    height: 24px; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700 !important ;
    font-size: 16px;
    color: #283673 !important;
}
.undl , .nav-bar ul li .hover:hover{
    text-decoration: underline;
    text-decoration-color: #CC2431;
    text-decoration-thickness: 3px;
    text-underline-offset: 7px;
}
.showcase{
    background: url('./Uploads/Hero\ Image.jpg')no-repeat center/cover;
    width: 100%;
    height: 540px;
}
.showcase .container{
    padding: 122px 0px 122px 180px;
    width: 640px;
}
.showcase h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: normal;
        font-weight: 700;
        font-style: normal;
        font-size: 58.8px;
        color: #FFFFFF;
}
.showcase p{
    margin: 24px 0px;
    font-size: 18px;
    color: #FFFFFF;
}
.showcase button ,.text-con button{
    border: none;
    padding: 15px 36px;
    color: #FFFFFF;
    font-size: 16px;
    background: #CC2431;
    box-shadow: 0px 4px 24px rgba(197, 29, 42, 0.5);
    border-radius: 5px;
}
/* padding :top right bottom left */
.merchants,.featured ,.customer-r{
    padding: 80px 160px 173.69px 160px;
}
/* .featured {
    margin-top: 173.69;
} */
.customer-s{
    padding-bottom: 173.69px;
    padding-right: 160px;
    padding-left: 160px;
}
.merchants-logo{
    padding-bottom: 174px;
    padding-top: 51px;
}
.merchants-logo img {
    margin-right: 7px;
}
.merchants-logo img:last-child {
    margin-right: 0px;
}
.p3{
    color: #3C64B1;
    /* background:red; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}
.kits-con{
    display: flex;
}
.kit{
    width: 530.85px;
    height: 254.31px;
    padding: 35px 22.85px 40.31px 51px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kit img{
    width: 257px;
    height: 179px;
}
.kit1{
    margin-right: 19.15px;
}
.kit .text{
    margin-left: 22px;
}
.text .p1{
    width: 147px;
    /* height: 54px; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;
    color: #283673;
    margin-bottom: 15px;
}
.text .p2{
        width: 178px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #767676;
        margin-bottom: 14px;
}
.text .p4{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #CC2431;
}
.featured .header{
    display: flex;
    justify-content: space-between;
}
/* padding :top right bottom left */
.arrows img{
    padding:13px 21px;
    margin-left: 6px;
    background: #FF4941;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.featured .categories{
    display: flex;
    padding-top: 68px;
}
/* padding :top right bottom left */
.categories .fc{
    width: 349px;
    height: 262px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}
.categories .fc:last-child{
    margin-right: 0px;
}
/* .customer-s{
    padding-left: 195px;
} */
.customer-s h3{
    /* margin-left: -210px; */
    text-align: center;
    margin-bottom: 92.93px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #3C64B1;
  
}
.service{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.s1 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30.25px;
}
.s1 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #283673;
}
.adv-con{
    height: 368px;
    /* width: 100%; */
    margin: 0px 72px;
    background-color: #283673;
    margin-bottom: 128px;
    display: flex;
    justify-content: space-between;
}
.adv-con img{
    z-index: 1;
}
.adv-con .text-con{
    width: 350px;
    margin-left: 109px;
    /* display: flex; */
}
.text-con h3{
    /* width: 282px; */
    font-family: 'Poppins';
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 18px;
}
.text-con p{
        /* width: 440px; */
        font-family: 'Poppins';
        font-size: 18px;
        margin-bottom: 38px;
        line-height: 27px;
        color: #FFFFFF;
}
.text-con-con{
    display: flex;
    align-items: center;
    justify-content: center;
}
.reviews img{
    height: 58px;
    width: 62px;
    margin-left: 28px;
    margin-right: 34px;
    border-radius: 2px;
}
.reviews-con{
    display: flex;
}
.customer-r{
    position: relative;
}
.customer-r > p{
    margin-bottom: 130px;
    font-family: 'Poppins';
    font-size: 20px;
    color: #3C64B1;
}
.reviews-con .reviews{
    display: flex;
    /* position: absolute; */
    align-items: flex-end;
    width: 349px;
    height: 262px;
    margin: 0px 8.5px;
    background-color: #F5F5F5;
    padding-bottom: 51px;
}
.apostroph{
    position: absolute;
    top: 195px;
    margin-left: 40px;
    /* left: 3000px; */
    border-radius: 50%;
    color: white;
    font-size: 62px;
    font-family: 'Poppins';
    background-color: #FF4941;
    text-align: center;
    width: 72px;
    height: 72px;
    display: flex;
    padding-top: 25px;
    align-items: center;
    justify-content: center;
}
.r-words h3{
    font-size: 24px;
    color: #283673;
    margin-bottom: 13px;
}
.r-words p {
    font-size: 24px;
    color: #283673;
    font-size: 12px;
    line-height: 18px;
    color: #767676;
    margin-right: 47px;
}
/* .footers-info{
    background-color: #F5F5F5;
    margin: 0px 72px ;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
} */
